.gallery {
  padding: 100px 0;
}

.galleryList {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.galleryList li {
  width: calc(100% / 3);
  height: 200px;
  position: relative;
}

.imgWrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.imgHover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: inherit;
  height: inherit; */
  background: rgba(0, 0, 0, 0.562);
  opacity: 0;
}
.galleryList li:hover .imgHover {
  opacity: 1;
  transition: linear 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.imgHover a {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}
