* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin-bottom: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  border-style: none;
}

.mainBtn {
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.container {
  width: 90%;
  padding: 0 1.5rem;
}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-style: normal;
}
.Header, Footer {
  flex: 0 0 auto;
}

.Main {
  flex: 1 0 auto;
}

button {
  text-transform: none;
  overflow: visible;
  font-family: inherit;
  margin: 0;
}

button:not(:disabled) {
  cursor: pointer;
}
